@tailwind base;
@tailwind components;
@tailwind utilities;

.side-ul li {
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.side-ul li:hover {
    @apply text-gray-600;
}

.current-link {
    color: #779afc;
}

.control-btn {
    @apply mr-2 flex items-center bg-white text-gray-800 text-sm font-semibold py-1 px-2 border border-gray-400 rounded;
}

.control-btn:hover {
    @apply bg-gray-100;
}

.control-btn:focus {
    @apply outline-none;
}

.square {
    box-shadow: 0 0 0 1px #6c6c6c;
}

.board {
    gap: 1px;
    border-color: #6c6c6c;
    background: repeating-linear-gradient(
        45deg,
        #ebeaea,
        #ebeaea 5px,
        #f0f0f0 5px,
        #f0f0f0 10px
    );
}

button:disabled,
button[disabled] {
    cursor: default;
    @apply bg-gray-200 text-gray-400;
}

button:disabled:hover,
button[disabled]:hover {
    @apply bg-gray-200 text-gray-400;
}

.dot {
    animation: disappear 1.5s infinite ease-out;
}

.first-dot {
    margin-left: 1px;
    animation-delay: 0s;
}

.second-dot {
    animation-delay: 0.2s;
}

.third-dot {
    animation-delay: 0.4s;
}

@keyframes disappear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.board-info-ul li {
    margin-bottom: 0.5em;
}
